.stepCreate {
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    & span {
        display: inline-flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background-color: var(--light-blue);
        color: white;
        font-size: 1rem;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    div.active span {
        background-color: var(--dark-primary);
    }
    span[data-status] {
        width: 2rem;
        height: 2rem;
    }
    span[data-status]::before {
        content: attr(data-status);
        position: absolute;
        top: -2rem;
        left: -50%;
        color: var(--dark-primary);
    }

    span[data-status]::after {
        content: '';
        position: absolute;
        width: 5rem;
        height: 3px;
        top: 50%;
        translate: 0 -50%;
        background-color: inherit;
    }

    div:first-of-type span[data-status]{
        margin-right: 5rem;
    }
    div:first-of-type span[data-status]::after {
        left: 100%;
    }
    div:last-of-type span[data-status]{
        margin-left: 5rem;
    }
    div:last-of-type span[data-status]::after {
        right: 100%;
    }
}

.createContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 3rem 5rem;
    margin: 4rem auto;
    border-radius: .5rem;
    font-weight: 500;
    background-color: var(--background-blue);
    color: var(--text-blue);
}

.createContainer h1 {
    margin-bottom:  2rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}   

.firstStep .form-question {
    display: none;
}

.secondStep .form-params{
    display: none;
}

p.errorMessage {
    position: relative;
    margin: .5rem 0 .8rem;
    padding-left: 2rem;
    margin-left: 0;
    font-size: 1rem;
    font-weight: 600;
    align-self: flex-start;
    color: var(--error);
}

p.errorMessage::before {
    content: '❌';
    position: absolute;
    top: 0;
    left: 0;
    width: .8rem;
    height: 100%;
}

.form-params-state {
    display: flex;
    justify-content: space-evenly;
}